body,html{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    min-height:600px;
    min-width: 1024px;
}

body {
    position: relative;
}

ul,
li {
    list-style: none;
    padding: 0;
    border: 0;
    margin: 0;
}


/* -----  base css   -------*/

table {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #d7d7d7;
}

table tr td,
table tr th {
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    font-size: 13px;
    height: 35px;
    height: 35px;
    padding: 0 10px;
    
}

table tr th {
    border-top: none;
    color: #006699;
}

table tr td:last-child,
table tr th:last-child {
    border-right: none;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.btn {
    width: 70px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #d7d7d7;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

.btn.disabled {
    background-color: #8c8c8c;
    color: #CCCCCC;
}

li.disabled {
    color: #9c9c9c;
    background-color: #CCCCCC;
}

li.disabled:hover {
    background-color: #CCCCCC;
}


    /* -----  base css   -------*/


header {
    width: 100%;
    height: 87px;
    background: url('../img/nav.png');
    background-size: cover;
    padding-top: 10px;
    z-index: 2;
}

header .logo{
    width: 80px;
    height: 68px;
    margin-left: 3%;
}

header .title{
    font-size: 26px;
    line-height: 60px;
    vertical-align: text-bottom;
    font-weight: bolder;
    color: #fff;
}

header .logout-con {
    float: right;
    margin-top: 20px;
    margin-right: 5%;
    font-size: 14px;
    color: #FFFFFF;
}

header .logout-btn {
    color: #FFFFFF;
}

header .logout-con .user {
    line-height: 24px;
    height: 25px;
}

header .logout-con .user::before{
    content: ' ';
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    background: url("../img/admin.png") center no-repeat;
    background-size: contain;
    margin-right: 5px;
}

header .logout-con .logout-btn {
    line-height: 21px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: underline;
}

header .logout-con .logout-btn::before {
    content: '';
    width: 22px;
    height:22px;
    display: inline-block;
    float: left;
    background: url("../img/move.png") center no-repeat;
    background-size: contain;
    margin-right: 5px;
}

nav {
    height: 35px;
    width: 100%;
    background-color: #ccccff;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav > ul li {
    display: inline-block;
    width: 90px;
    line-height: 35px;
    text-align: center;
    float: left;
    margin-left: -1px;
    color: #2e6699;
    font-weight: bolder;
    cursor: pointer;
}

nav > ul li:hover {
    background-color: #dcdcdc;
}

nav > ul li.active {
    background-color: #dcdcdc;
}

section {
    margin-top: 20px;
    min-height: 400px;
    padding: 0 10px;
    padding-bottom: 100px;
}

section table input[type="text"],
section table textarea{
    width: 95%;
    margin: 0 auto;
    outline: none;
    resize: none;
}

section table textarea {
    margin: 10px 0;    
}

section .status {
    color: #0066bc;
    font-size: 13px;
    margin-left: 10px;
}

section table {
    border-top: none;
}

section .radioGroup label{
    cursor: pointer;
}

section .submit,
section .reset{
    height: 30px;
    background-color: #6495ed;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin: 5px 0;
}



footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: url('../img/nav.png');
    background-size: cover;
    text-align: center;
    color: #fff;
    line-height: 60px; 
}
